{% extends "base.html" %}
{% block content %}
<h2>Forgot your password?</h2>
<div class="card">
  <form method="post" class="grid2" action="{{ url_for('auth_email.request_password_reset') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="col-span-2">
      <label>Email</label>
      <input type="email" name="email" required placeholder="you@domain.com" autocomplete="email">
    </div>
    <div class="col-span-2">
      <button class="btn-primary" type="submit">Send reset link</button>
      <a class="btn" href="{{ url_for('login') }}">Back to login</a>
    </div>
  </form>
</div>
{% endblock %}
