{% extends "base.html" %}
{% block content %}
<h2>Set a new password</h2>
<div class="card">
  <form method="post">
    {{ csrf_token() }}
    <label>New password</label>
    <input type="password" name="password" minlength="8" required autocomplete="new-password">
    <label>Confirm password</label>
    <input type="password" name="password2" minlength="8" required autocomplete="new-password">
    <div style="margin-top:10px;">
      <button class="btn-primary" type="submit">Update password</button>
    </div>
  </form>
</div>
{% endblock %}
